{% extends "headerPage.html" %}
{% block content%}

    <h2>Upload Audio for Cloning</h2>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="cloneVoice">
  
 {% csrf_token %}
 <div class="col-md-4 col-sm-4"><label for="fname">Upload Audio File Here:</label> </div> <input name="filePath" type="file"><br>

<textarea name="myTextBox" cols="50" rows="5">
Enter some text...
</textarea>
<br />

 <br>
 <br>
 
 <input type="submit" value="Submit" ></div>

 <h2>Cloned voice</h2>

 <audio controls> 
  <source src={{outputFileName}} alt='audioname' >
  
</audio> 
</form>
<br>


{% endblock %}